HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
    }

#grid {
    margin: 100px;
}

.tile{
    border: 2px solid #87b3d6;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #87b3d6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffecb8;
    cursor: pointer;
    caret-color: transparent;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    font-family: "Bubblegum Sans", cursive;
}