HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
    }

#above-grid{
    height: 20vh;
}

#grid{
    height: 80vh;
}

#grid-inputs{
    display: flex;
}

.grid-input{
    margin: 10px;
}


.grid-item{
    border: 1px solid #87b3d6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #87b3d6;
    cursor: pointer;
    caret-color: transparent;
}

.grid-item:active {
    cursor: default;
}

#container {
    margin: 0 auto;
    height: 80%;
    width: 80%;
    display: grid;
    font-family: "Bubblegum Sans", cursive;
}