HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
    }

#grid-inputs{
    display: flex;
}

.grid-input{
    margin: 10px;
}


.grid-item{
    border: 2px solid #87b3d6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #87b3d6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffecb8;
    cursor: pointer;
    caret-color: transparent;
}

#container {
    margin: 0 auto;
    display: grid;
    max-width: 300px;
    font-family: "Bubblegum Sans", cursive;
}